# Ignore environment and secrets files
.env
.DS_Store
# Ignore Python virtual environments
.venv/
.venv/lib/python3.10/
venv/
.vscode
# Ignore Python cache and compiled files
__pycache__/
*.pyc

# Ignore log and temporary files
*.log
*.tmp
*.bak

# Ignore dependency and build folders
libs/
dist/
build/

# Ignore binary and archive files
*.jar
*.tgz
*.zip
